*{
    text-align:center;
    box-sizing: border-box;
  }
  html,
  body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #ededed;
    
  }
  section.header h1{
    font-weight: lighter;
    color:#FFF;
  }
  section.header nav{
    padding:8px 72px 48px 72px;
    display:flex;
    justify-content: space-between;
    align-items: center;
  }
  section.header li{
    padding:10px;
    display:inline-block;
  }
  section.header a{
    text-decoration: none;
    color:black;
  }
  span.bookNow, section.textSection button{
    border:1px solid black;
    border-radius: 12px;
    background-color:#FFF;
    font-weight: bold;
    color:rgb(10, 126, 87);
    padding:8px 16px;
  }
  span.bookNow:hover, section.textSection button:hover{
    background-color:rgb(10, 126, 87);
    color: #FFF;
  }
  section.header p{
    font-size:48px;
    font-weight: bold;
    color:#FFF;
    margin:0;
  }
    button{
    margin-top:20px;
    padding:24px 36px;
    border:1px solid black;
    background-color: rgb(10, 126, 87);
    color:#FFF;
    border-radius:12px;
    cursor: pointer;
  }
  .header{
    margin:0 36px 0 36px;
    padding-bottom: 300px;
    background-image: url('https://images.unsplash.com/photo-1498429089284-41f8cf3ffd39?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1350&q=80');
    background-repeat:no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position:center;
  }

  .travelForm{
    background-color: hsl(0, 0%, 88%);
    position:absolute;
    top:60%;
    left:0;
    right:0;
    width: 80%;
    margin: 0 auto;
    padding:50px;
    border: 4px solid grey;
    border-radius:48px;
  }
  section.travelForm div{
    float:left;
    margin:10px;
  }
  .travelForm input{
    padding:16px;
    border:2px solid grey;
    border-radius: 12px;
  }
  .travelForm select{
    padding:16px;
    border:2px solid grey;
    border-radius: 12px;
  }
  .travelForm label{
    font-weight: bold;
    text-align: left;
    display:block;
    margin-bottom: 16px;
  }
  footer{
    padding:0px 72px 0 72px;
    background-color:rgb(10, 126, 87);
    margin: 0 36px 0 36px;
    color:#FFF;
  }
  footer nav{
    display:flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid grey;
  }
  footer li{
    padding:10px;
    display:inline-block;
    cursor: pointer;
  }
  p.credits{
    padding-top:20px;
    text-align: left;
    padding-left: 36px;
  }
  p.credits a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.671);
  }
  p.credits a:hover{
    color:#FFF;
  }
  article.contentDescription{
    margin: 0 36px 0 36px;
    background-color: hsl(0, 0%, 88%);
    display:flex;
  }
  section.photoSection{
    flex:1;
    background-image: url('https://images.unsplash.com/photo-1446329813274-7c9036bd9a1f?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1350&q=80');
    background-position: center;
  }
  section.textSection{
    flex:1;
    padding:240px 0 88px 0;
  }
  section.textSection h2{
    font-size:48px;
    text-align: left;
    padding-left: 100px;
  }
  section.textSection p{
    text-align:left;
    padding-left:36px;
  }
  footer{
    padding-top:40px;
  }
  form.subscribeEmail{
    display:flex;
    flex-direction: row;
    border:1px solid grey;
    border-radius:100px;
    background-color:#FFF;
    width: 30%;
    margin:0 auto;
  }
  input.subscribeEmail{
    flex-grow:2;
    border-radius: 100px;
    border-top: none;
    border-right: none;
    border-bottom: none;
  }
  input.subscribeEmail:focus{
    outline: none;
  }
  button.subscribeEmail{
    margin-right: 24px;
    border-radius: 100px;
    padding:12px;
    margin-bottom: 24px;
  }
  